*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* .clear::after{
	content: "";
	display: table;
	clear: both;
} */

.clear{
	clear: both;
}

#container{
	width: 592px;
	min-height: 165px;
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid blue;
}

#container .header{
	width: 560px;
	min-height: 20px;
	border: 1px solid yellow;
	padding: 5px;
	text-align: justify;
	float: left;
	margin: 15px;
	color: white;
}

.div-white{
	background-color: white;
}

#div-tag{
	width: 100%;
	height: 40px;
	background-color: white;
}

.tag{
	margin-left: 15px;
	line-height: 40px;
}

.tag-name{
	border: 1px solid blue;
	border-radius: 5px;
	background-color: blue;
	padding: 5px;
	color: white;
}

#div-tag span.right{
	/* text-align: right; */
	padding-right: 15px;
	line-height: 40px;
	float: right;
}

img.image-1{
	width: 590px;
	margin-bottom: 10px;
}

div.paragraph{
	width: 560px;
	padding: 5px;
	text-align: justify;
	margin-left: 15px;
	margin-bottom: 15px;
}